{% extends 'base.html' %}
{% block main_content %}
    <div class="row pb-3">
        <h2>Очередь на модерацию:</h2>
        <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Ссылка на сайт</th>
                <th scope="col">id_отзывов</th>
                <th scope="col">Принять</th>
                <th scope="col">Поменять название</th>
            </tr>
            </thead>
            <tbody>
            {% for i in range(number) %}
                <form method="post">
                    <tr>
                        <th>
                            <a href={{ total[name[i]][1] }} scope="row">{{ total[name[i]][1] }}</a>
                        </th>
                        <th>
                        <input class="form-control" type="text"
                               name="id_rating" id="id_rating"
                        value="{{ total[name[i]][2] }}">
                        </th>
                        <th>
                            <div class="d-grid gap-2 d-md-block">
                                <button type="submit"
                                        class="btn btn-primary"
                                        name="{{ name[i] }} accept">Да
                                </button>
                                <button type="submit"
                                        class="btn btn-primary"
                                        name="{{ name[i] }} denied">Нет
                                </button>
                            </div>
                        </th>
                        <th>
                            <input type="text" class="form-control" id="fname"
                                   name="fname"
                                   value="{{ total[name[i]][0] }}">
                        </th>

                    </tr>
                </form>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <div class="d-grid gap-4 col-7 mx-auto">
        <a href="/choice"
           class="btn btn-secondary btn-lg">Вернуться</a>
    </div>
{% endblock %}