{% extends 'base.html' %}
{% block main_content %}
    <div class="text-center mb-5">
        <h1>Выберите, что хотите сделать:</h1>
    </div>
    <div class="d-grid gap-4 col-7 mx-auto">
        <a href="/reject_rejection"
           class="btn btn-primary btn-lg">Открыть список отклоненных сайтов</a>
        <a href="/admin"
           class="btn btn-primary btn-lg">Модерировать</a>
        <a href="/reject_moderation"
           class="btn btn-primary btn-lg">Открыть список принятых сайтов</a>
        <a href="/reviews"
           class="btn btn-primary btn-lg">Отзывы</a>
    </div>
{% endblock %}