{% extends 'base.html' %}
{% block main_content %}
    <div class="row pb-3">
        <div class="col pb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ current_user.surname }} {{ current_user.name }}</h5>
                    {% if current_user.is_admin %}
                        <h5 class="card-text text-center"
                            style="color: #ff0000;">Администратор</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
