{% extends 'base.html' %}
{% block main_content %}
    <div class="row pb-3">

            <h1>Ваши сайты: </h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    {% for i in range(number) %}
                    <th scope="col">{{ name[i] }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for i in range(number2) %}
                <tr>
<!--                    <th><a href={{slovar_total[i][1]}} scope="row" style="color: #000000; text-decoration: none;">-->
<!--                        {{slovar_total[i][0]}}-->
<!--                    </a></th>-->
                    <th><a href="/statistic/{{slovar_total[i][2]}}" scope="row">
                        {{slovar_total[i][0]}}
                    </a><a href={{url[i][1]}} class="btn btn-dark btn-sm"><img src="/static/media/link.png"></a></th>
                    {% for j in range(number - 2) %}
<!--                    <td align="center">-->
                    <td>
                        {% if total[slovar_total[i]][name[j + 1]]%}
                        <b>{{total[slovar_total[i]][name[j + 1]]|first}}</b>
                        <br><i><small>{{total[slovar_total[i]][name[j + 1]]|last}} ms</small></i></br>
                        {% else %}
                        <b></b>
                        {% endif %}
                    </td>
                    {% endfor %}
                    <td>
                        <form method="post">
                        <button type="submit" class="btn btn-dark btn-lg",
                                name="{{slovar_total[i][2]}} del"><img src="/static/media/trash_can.png">
                        </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row pb-3">
        <form method="post">
        <h3>Ожидание модерации:{% for i in range(number3) %}

            <small><small><a href={{non_moder[non_moder_keys[i]][1]}} style="color: #000000; text-decoration: none">
                {{non_moder[non_moder_keys[i]][0]}}</a></small></small>

                <button type="submit" class="btn btn-dark btn-sm",
                                name="{{non_moder_keys[i]}} del"><img src="/static/media/link.png">
                </button>
                <small><small>{% if i != number3 - 1 %}, {% endif %}</small></small>
            {% endfor %}</h3>
        </form>

    </div>
    <div class="row pb-3">
        <form method="post">
        <h3>Забаненные:{% for i in range(number4) %}
            <small><small><a href={{reject[reject_keys[i]][1]}} style="color: #000000; text-decoration: none">
                {{reject[reject_keys[i]][0]}}</a></small></small>
            <button type="submit" class="btn btn-dark btn-sm",
                                name="{{reject_keys[i]}} del">🗑
                </button>
            <small><small>{% if i != number4 - 1 %}, {% endif %}</small></small>
            {% endfor %}</h3>
        </form>

    </div>

{% endblock %}
