{% extends 'base.html' %}
{% block main_content %}
    <div class="row pb-3">
        <div class="col pb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ user.surname }} {{ user.name }}</h5>
                    {% if user.is_admin %}
                        <h5 class="card-text text-center" style="color: #ff0000;">Администратор</h5>
                    {% endif %}
                </div>
            </div>
            {% if current_user.is_admin %}
            {% if user.is_banned %}
                <form class="pb-2" method="post">
                    <button type="submit" class="btn btn-info" style="width: 18rem;" id="unban_user_button" name="unban_user_button">Разбанить пользователя</button>
                </form>
            {% else %}
                <form class="pb-2" method="post">
                    <button type="submit" class="btn btn-info" style="width: 18rem;" id="ban_user_button" name="ban_user_button">Забанить пользователя</button>
                    <input class="form-control mt-2" style="width: 18rem;" type="text" id="reason_text" name="reason_text" placeholder="Причина">
                </form>
            {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
