{% extends 'base.html' %}
{% block main_content %}

    <form method="post">
        <div class="text-center mb-5">
        <a href="/rating" class="btn btn-info btn-lg">Рейтинг</a>
        <a href="/report" class="btn btn-info btn-lg">Отчёт</a>
        </div>

        <div class="text-center mb-5">
            <label>Доступ сайта:</label>
            <label>???</label>
        </div>
        <div class="text-center mb-5">
            <a class="btn btn-info btn-lg">Подписаться на оповещение</a>
        </div>
    </form>

{% endblock %}