{% extends 'base.html' %}
{% block main_content %}
    <div class="row pb-3">
            <p>Популярные: <i>{{ user_time }}</i></p>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    {% for i in range(number) %}
                    <th scope="col">{{ name[i] }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for i in range(number2) %}
                <tr>
                    <th><a href={{slovar_total[i][1]}} scope="row">{{slovar_total[i][0]}}</a></th>
                    {% for j in range(number - 1) %}
                    <td>{{total[slovar_total[i]][name[j + 1]]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}