{% extends 'base.html' %}
{% block main_content %}
    <form method="post">
        <div class="text-center mb-5">
            <label>Последняя проверка:</label>
            <label>{{}}</label>
        </div>
        <div class="text-center mb-5">
            <label>Общее количество запросов:</label>
            <label>{{}}</label>
        </div>
        <div class="text-center mb-5">
            <label>Количество отрицательных запросов:</label>
            <label>{{}}</label>
        </div>
    </form>
{% endblock %}