<!--  -->
{% extends 'base.html' %}
{% block main_content %}

    <form method="post">
        <div class="text-center mb-5">
            <label>Какая-то информация о сайте:</label>
            <label>???</label>
        </div>
        <div class="text-center mb-5">
            <label>Какая-то информация о сайте:</label>
            <label>???</label>
        </div>
        <div class="text-center mb-5">
            <label>Какая-то информация о сайте:</label>
            <label>???</label>
        </div>
    </form>

{% endblock %}