{% extends 'base.html' %}
{% block main_content %}
<div class="row pb-3">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                {% for i in data %}
                <tr>
                    <th>
                        {{ i[0] }}
                    </th>
                </tr>
                <tr>
                    <th>
                        {{ i[1] }}
                    </th>
                </tr>
                <tr><th></th></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="text-center mb-5">
<a href="/choice" class="btn btn-primary btn-lg">Назад на главную
                страницу</a>
</div>
{% endblock %}